.burger{
    display: flex;
   justify-content: space-between;
    align-items: center;
    /*text-align: center;*/
    /*height: 455px;*/
    /*left: 741px;*/
    /*top: 112px;*/
    padding: 61px 200px;
    /*background-color: red;*/
    margin: 0 auto;
}

.burger1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    /*line-height: 42px;*/
    display: flex;
    align-items: center;
    color: #254F4C;
}

.burger2{
    font-family: 'Roboto';
    /*font-style: normal;*/
    /*font-weight: 400;*/
    font-size: 14px;
    /*line-height: 24px;*/
    display: flex;
    /*align-items: center;*/
    color: #1D3130;
}

.burger button{
    width: 216px;
    height: 49px;
    left: 200px;
    top: 415px;
    background: #FF583E;
    border-radius: 100px;
    color: white;
    border: none;
}

.first{
    /*background-color: black;*/
    display: flex;
    flex-wrap: wrap;
}

.burger_img{
    /*background-color: yellow;*/
}