.errorPage {
    background: red;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

.errorTitle {
    padding-top: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 200px;
    line-height: 242px;
    color: #FFF;
    text-align: center;
}

.errorSubTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 52px;
    color: #FFF;
    margin-bottom: 20px;
    text-align: center;
}



.errorBtn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFF;
    background: black;
    padding: 10px 30px;
    border-radius: 50px;
}

.errorButton {
    text-align: center;
    padding-bottom: 100px;
}